@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.section {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
  border: 2px solid red;
}
.container {
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
.content-section {
  float: left;
  width: 50%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 100%;
  height: auto;
}
.title {
  text-transform: uppercase;
  font-size: 28px;
}
.content {
  margin-top: 20px;
  color: #5d5d5d;
}
.content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}
.content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.button {
  margin-top: 30px;
}
.button a {
  text-decoration: none;
  padding: 12px 40px;
  background-color: #3d3d3d;
  color: #fff;
  letter-spacing: 1.5px;
  font-size: 25px;
}
.button a:hover {
  background-color: #a52a2a;
  color: #fff;
}
.content-section .social {
  margin: 40px 40px;
}
.social i {
  font-size: 30px;
  color: #a52a2a;
  padding: 0px 10px;
}
.social i:hover {
  color: #3d3d3d;
}

@media screen and (max-width: 786px) {
  .container {
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 19px;
  }
  .button {
    text-align: center;
  }
  .button a {
    padding: 9px 30px;
  }
  .social {
    text-align: center;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}
